.carouselMovies {
      li{
            min-width: unset !important;
            margin-left: 1rem !important;
      }
      li:first-child {
            margin-left: 102% !important;
      }
      .carousel-slider {
            ul{
                  display: none;
            }
      }
}